    <div class="container-fluid">
          <div class="cm-e-menu">
            <ul>
                <li class="topmenu"><a href="/">Home</a></li>
                <li class="topmenu">
                    <a>Time Tracking</a>
                    <ul class="submenu">
                        <li><a>browse</a></li>
                        <li><a>new file</a></li>
                        <li><a>new folder</a></li>
                        <li class="divider"></li>
                        <li><a>save</a></li>
                        <li><a>save as</a></li>
                        <li><a>save all</a></li>
                        <li class="divider"></li>
                        <li><a>rename</a></li>
                        <li><a>delete</a></li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">close</a>
                            <ul class="submenu">
                                <li><a>current file</a></li>
                                <li class="divider"></li>
                                <li><a>files to the right</a></li>
                                <li><a>files to the left</a></li>
                                <li class="divider"></li>
                                <li>
                                    <a>all open files</a>
                                    <ul class="submenu">
                                        <li><a>current file</a></li>
                                        <li class="divider"></li>
                                        <li><a>files to the right</a></li>
                                        <li><a>files to the left</a></li>
                                        <li class="divider"></li>
                                        <li>
                                            <a>all open files</a>
                                            <ul class="submenu">
                                                <li><a>current file</a></li>
                                                <li class="divider"></li>
                                                <li><a>files to the right</a></li>
                                                <li><a>files to the left</a></li>
                                                <li class="divider"></li>
                                                <li><a>all open files</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>download</a>
                            <ul class="submenu">
                                <li><a>all files</a></li>
                                <li><a>current file</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="topmenu"><a>Document Handler</a></li>
                <li class="topmenu">
                    <a>Patients</a>
                    <ul class="submenu">
                        <li><a>hide tabs</a></li>
                        <li><a>hide menu</a></li>
                        <li class="divider"></li>
                        <li><a>wordwrap</a></li>
                        <li><a>line numbers</a></li>
                        <li><a>fullscreen</a></li>
                        <li class="divider"></li>
                        <li><a>highlight active line</a></li>
                        <li>
                            <a>sidebar</a>
                            <ul class="submenu">
                                <li><a>hide sidebar</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="topmenu"><a>Billing</a></li>
                <li class="topmenu"><a>Therapist Information</a>
                    <ul class="submenu">
						<li><a href="/medicalreport/">Therapist rate Sheet</a></li>
                    </ul>
                </li>
                <li class="topmenu"><a>Payables</a></li>
                <li class="topmenu"><a>State Ed Report</a></li>
                <li class="topmenu">
                    <a>Management</a>
                    <ul class="submenu">
                        <li><a>End Of Month Reports</a></li>
                        <li><a>Utilization Report</a></li>
                        <li><a>ICD10 Codes</a></li>
                        <li><a>Facility Profit Report</a></li>
                        <li><a>Visit Summary Report</a></li>
                        <li><a>WebSite Login Statistic</a></li>
                        <li><a>Antisipated Revenue Report</a></li>
                        <li><a>Visit Statistic by Client Category by Week Day</a></li>
                        <li><a>Full Time Equivalent Report</a></li>
                        <li><a href="/compliancelist">Omig Compliance List</a></li>
						
						<li class="divider"></li>
                        <li><a>Dotty's   <i class="fa fa-caret-right"></i></a></li>
                    </ul>
                </li>

				
            </ul>
          </div>			

        
    </div>
<br><br>

